/* style.scss */

.jumbotron {
  background: #3e8acc;
  color: whitesmoke;
  padding: 100px 25px;
}

.container-fluid {
  padding: 60px 25px;
}

.bg-gray {
  background: lightgray;
}
.icon {
  font-size: 150px;
  color: #3e8acc;
  margin: 5%;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: solid #3e8acc;
  border-radius: 0;
  background: white;
}

.thumbnail span {
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  margin: 2% auto;
}

.rrss .icon {
  font-size: 30px;
  margin: 0% 2%;
}

/* Images*/

#resume {
  background-image: url('../../../static/images/resume.png');
  width: 100%;
  height: 250px;
  background-size: contain;
}

#company {
  background-image: url('../../../static/images/company.png');
  width: 100%;
  height: 250px;
  background-size: contain;
}
