/* ==========================================================================
Main page styles
========================================================================== */
.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/logo-jhipster-react.svg') no-repeat center center;
  background-size: contain;
}

.angular {
  display: inline-block;
  width: 100%;
  height: 300px;
  background: url('../../../static/images/logo/icons/qr-angular-demo.png') no-repeat center center;
  background-size: contain;
}

.coverb {
  display: inline-block;
  width: 110%;
  height: 300px;
  background: url('../../../static/images/logo/icons/coverb-logo.png') no-repeat center center;
  background-size: contain;
}
